@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

body {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #020202;
  font-family: 'Noto Sans KR', sans-serif;
}

.quote {
  display: flex;
  flex-direction: column;
  width: 80vw;
  text-align: center;
}

.quote--text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4rem;
}

.quote--speaker {
  font-weight: 300;
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

.input {
  width: 14rem;
  border: rgba(50, 50, 50, 0.6) 2px solid;
  border-radius: 1.6rem;
  padding: 0.3rem 0.3rem 0.3rem 1rem;
  font-weight: 500;
}
.input:focus {
  outline: none;
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}

.todo-list {
  display: flex;
  flex-wrap: wrap;
}
.todo--text {
  width: 8rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.8rem;
  overflow: hidden;
  background-color: rgba(250, 250, 250, 0.6);
  border: rgba(50, 50, 50, 0.2) 0.5px solid;
  margin: 0.6rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 1rem;
  text-align: center;
}
.todo--text:hover {
  cursor: pointer;
}

.todo--del {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  transform: translate(9rem, -6.3rem);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.4rem;
}

.todo--checked {
  background-color: rgba(179, 206, 16, 0.6);
}

.sum-plant {
  width: 100px;
}
