@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

body {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #020202;
  font-family: 'Noto Sans KR', sans-serif;
}

.quote {
  display: flex;
  flex-direction: column;
  width: 80vw;
  text-align: center;
}

.quote--text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4rem;
}

.quote--speaker {
  font-weight: 300;
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

.todo-list {
  display: flex;
  flex-wrap: wrap;
}
.todo {
  width: 8rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.8rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0.6rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 1rem;
}
.todo:hover {
  cursor: pointer;
}

.todo--text {
  text-align: center;
}

.todo--del {
  position: absolute;
  transform: translate(7.2rem, -1.8rem);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.5rem;
}

.todo--checked {
  background-color: rgba(179, 206, 16, 0.8);
}

.sum-plant {
  width: 100px;
}
